

body {
    background-color: #f7ffffff;
    cursor: crosshair;
    font-family: Georgia, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

#instructions {
    position: absolute;
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;

    cursor: pointer;

    background-color:rgba(0, 0, 0, 0.5);
 
}


#blocker {

    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.5);

}


#hurt {
    background-color: red;
    display: none;
    left: 0;
    opacity: 0.15;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 1002;
  }


  #hud {
    bottom: 10px;
    position: absolute;
    right: 10px;
    z-index: 100;
  }
  #credits {
    font-size: 12px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%;
    z-index: 100;
  }
  p {
    background-color: #EEEEEE;
    border: 1px solid black;
    display: inline-block;
    margin: 0;
    padding: 5px;
  }
  #radar {
    background-color: #EEEEEE;
    border: 1px solid black;
    bottom: 10px;
    left: 10px;
    position: absolute;
    z-index: 100;
  }



  .healthArea{
    
        position: absolute;
        padding: 10px;
        text-align: center;
        left: 32%;
        top: 92%;
      
  }

  .health-box {
    background-color: rgba(0, 0, 0, 0.513);
    height: 30px;
    width: 500px;
    margin: 0 auto;
    border: solid 1px rgb(0, 255, 21);
  }
  
  .health-bar {
    background-color: #007f00;
    width: inherit;
    height: 28px;
    position: relative;
    bottom: 28px;
  }
  
  .health-bar-red {
    width: 99%;
    height: 95%;
    background-color: #cc0000;
    
    
}
  
  
  
  .health-bar-text {
    position: relative;
    bottom: 80px;
  }
  
  .message-box {
    text-align: center;
    padding: 5px;
  }
  
  .total,
  .message-box {
    font-size: 16px;
    margin: 5px;
  }


.verticalhorizontal {
    display: table-cell;
    position: absolute;
    height: 100%;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}
